

.box1 {
    
    width: 500px;
    height: 300px;
    padding: 70px;
    box-sizing: border-box;
    padding: 20px;
    background-size: 300px 300px;
    background-color: rgb(180, 194, 180);
    background-image: url(https://images.unsplash.com/photo-1724093121148-ec407f45e44c?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border-radius: 20px;
    color: #fff;

    margin: 20px;
}
.box2 {
    
    width: 500px;
    height: 300px;
    padding: 70px;
    box-sizing: border-box;
    padding: 20px;
    background-size: 300px 300px;
    background-color: rgb(180, 194, 180);
    background-image: url(https://plus.unsplash.com/premium_photo-1725588379392-7a56d6eff9ab?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border-radius: 20px;
    color: #fff;

    margin: 20px;
}
